@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://source.unsplash.com/random/1400×1200/?village,nature,greenery");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  overflow-x: hidden;
}
